html,
body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  background-color: #F4F4F4;
}

.label_list {
  font-weight: 700;
  font-size: 30px;
}

.invalid {
  color: red;
}

// Header

.header {
  background-color: #71c0b9;
  border: 1px solid black;
  &__block {
    display: flex;
    justify-content: space-between;
  }
}

// Navigation

.form {
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.brand-logo {
  margin-left: 20px;
  font-weight: bold;
}

// Card 
.card {
  min-width:350px;
 }
